<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">    
    <title>All Patient List</title>
</head>
<body>
    <header class="bg-primary text-white py-4">
        <div class="container">
            <h1 class="text-center">ALL PATIENT LIST</h1>
        </div>
    </header>

    <div class="container mt-4">
        <div class="row ">
            <% for(patient of patients) { %>
                <div class="col-12">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title"><%= patient.name %></h5>
                            <p class="card-text">ID: <%= patient.patient_id %></p>
                            <p class="card-text">Date of Birth: <%= patient.date_of_birth %></p>
                            <p class="card-text">Gender: <%= patient.gender %></p>
                            <p class="card-text">Phone No: <%= patient.phone_num %></p>
                            <p class="card-text">Email: <%= patient.email %></p>
                            <p class="card-text">Address: <%= patient.address %></p>
                            <p class="card-text">History: <%= patient.history %></p>
                           
                            <div class="d-flex  me-2">
                                <form class="me-2" method="get" action="/lab_test/add_new_test">
                                    <button type="submit" class="btn btn-primary">Add Test</button>
                                </form>
                                <form class="me-2" action="/patient/<%= patient.patient_id %>/edit">
                                    <button type="submit" class="btn btn-primary">Edit</button>
                                </form>
                                <form method="post" action="/patient/<%= patient.patient_id %>?_method=DELETE">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>

            <a class="btn btn-info" href="/patient/add_new_patient">
                Add New Patient
            </a>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    
</body>
</html>
